*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(58, 57, 57);
  font-family: 'Open Sans', sans-serif;
}
img{
  max-width: 100%;
}
ul {
  list-style: none;
}
.container{
  max-width:900px;
  width: 85%;
  margin: 0 auto;
}
/* HEADER */
.header {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  height: 100px;
  background-color: rgb(244, 241, 241);
  font-weight: 600;
  padding: 30px;
}
.header img{
  width: 60px;
}
.header ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.header ul a{
  text-decoration: none;
  color: inherit;
}
.col-30{
  width: 50%;

}
.col-70{
  width: 70%;
}
.flex-col {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.active {
  color: rgb(85, 85, 224);
}
/* MAIN */
.content{
  height: 100px;
  background-color: rgb(5, 5, 5);
  font-weight: 600;
  padding: 30px;
  color: rgb(255, 255, 255);
}
/* BLUESTRIPE */
.blue-stripe{
  height: 150px;
  background-color: rgb(18, 117, 255);
  color: #ffffff;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
padding: 20px;
}
.col-30 img{
width: 100px;
    height: auto;
    object-fit: contain;
    max-width: 100%;
}
.col-70 span{
  font-size: 0.8rem;
  margin-left: 10px;
}
/* FOOTER */
.footer{
background-image: url("../public/footer-bg.jpg");
color: rgb(226, 226, 226);
font-size: 0.8rem;
}
.col-4{
  width: calc(100% / 4);
}
.col-4 h4{
  font-weight:bolder ;
  font-size: 1rem;
  color: #ffffff;
}
.col-4 ul {
  font-weight: 200;
  color: rgb(237, 236, 236);
}
.flex-footer{
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding: 30px;
  margin-right: 80px;
}
.footer-bottom{
  height: 100px;
  background-color:rgb(45, 45, 45);
}
.signUp-btn{
  padding: 15px;
  background-color: rgb(58, 57, 57);
  border: 3px solid rgb(63, 63, 202);
  color: white;
}
.signUp-btn a {
  color: inherit;
  text-decoration: none;
}
a {
   color: rgb(63, 63, 246);
  text-decoration: none;
  font-size: 1rem;
}
.flex-logos{
  display: flex;
  justify-content: space-between;
  align-items: center;
gap: 5px;
}
.flex-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
padding: 20px;
}
/* JUMBO */
.jumbo{
background-image: url("/public/jumbotron.jpg");
 background-size: cover;
    width: 100%;
    height: 400px;
}
/* MAIN */
.main{
  background-color: rgb(45, 45, 45);
}
.main a{
 color: white;
 font-weight: 900;
}
.main-btn{
  padding: 10px 20px;
  background-color: rgb(73, 73, 250);
  position: absolute;
transform: translate(-50%, -50%);
    border: 1px solid rgb(73, 73, 250);
}
.flex-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.col-2{
  width: calc(100% / 6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
}
.thumb img {
  width: 150px; 
  height: 150px; 
  object-fit: cover; 
}
.cards {
  padding-bottom: 50px;
    padding-top: 70px;
}
.card-title{
  font-weight: 700;
  color: #fff;
}
.flex-more-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}
.flex-more-btn button{
   padding: 8px 40px;
  background-color: rgb(73, 73, 250);
  border: 1px solid rgb(73, 73, 250);
}